{include file="Common/header" /} 

<div class="am-cf admin-main">
  {include file="Common/left" /} 

  <!-- content start -->
  <div class="admin-content">
      <div class="am-g">
          <div class="am-u-sm-12">
            <h2 class="am-text-default am-margin-top"><span class="am-icon-file-text-o"></span> 新闻列表</h2>
            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
            
          </div>
      </div>
      
      <div class="am-g am-margin-bottom">
        <div class="am-u-sm-3">
          <a href="{:U('News/addNew')}" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 添加新闻</a>
        </div>
      
        {// 搜索框 }
        <div class="am-u-sm-4 pl0">
          <div class="am-input-group">
              <input type="text" class="am-form-field" name='keyword' placeholder='请输入您要搜索的标题'>
              <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button" id="searchBtn"><span class="am-icon-search"></span></button>
              </span>
          </div>
        </div>
      </div>
      
      
      <div class="am-g">
          <div class="am-u-sm-12">
              <div id="listInfo">
                
              </div>
              <div id="loading" style=' text-align: center; '><img src="__IMG__/loading.gif"></div>
          </div>
      </div>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
  <span class="am-icon-btn am-icon-th-list"></span>
</a>
{include file="Common/footer" /} 

<!-- <script type="text/javascript" src="__JS__/libs/require_config.js"></script>  --> 
<script type="text/javascript" data-main='__JS__/news-main.js' src="__JS__/libs/require.js"></script>

</body>
</html>
